body {
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    text-align: center;
}

h2 {
    margin: 10px;
}
form{

    margin: 20px;
    display: inline-block;
    border: 5px solid blue;
    padding: 20px;
    border-radius: 10px;

}