*{
    font-family: Arial, Verdana;
}

h1{
    font-family: Georgia;
    font-size: 32px;
    font-variant: small-caps; /*versalitas*/
}

h2{
    font-family: Georgia;
    font-size: 24px;
    font-variant: small-caps; /*versalitas*/
    font-weight: bold; /*negrita*/
}

li{
    font-weight: bold;
}

li strong{
    font-weight: normal;
}
