:root {
    /* TUS COLORES DE MARCA */
    --color-principal: #4A3B32;
    --color-secundario: #f4f4f4;
    --color-acento: #b93632;
    --color-detalle: #e6e2ddb5;
    --color-blanco: #ffffff;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/* --- HEADER  --- */
.navbar-custom {
    background-color: var(--color-principal) !important;
    border-bottom: none;
}

.navbar-brand,
.nav-link,
.bi {
    color: var(--color-secundario) !important;
}


.nav-link:hover,
.bi:hover {
    color: var(--color-detalle) !important;
    opacity: 1;
}

/* --- FOOTER --- */
footer {
    background-color: var(--color-principal);
    color: var(--color-detalle);
}

footer a {
    color: var(--color-detalle);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-acento);
}



/* --- HERO SECTION --- */
.hero-section {
    /* Ocupa casi toda la pantalla, restando el alto del navbar */
    height: 85vh;
    width: 100%;

    /* El linear-gradient añade una capa oscura al 40% para que el texto se lea bien sobre cualquier foto */
    /* ¡AQUÍ DEBES PONER LA RUTA DE TU FOTO! */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/fondo.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Esto crea el efecto Parallax al hacer scroll */
    position: relative;
    overflow: hidden;
}

.hero-title {
    color: var(--color-secundario);
    /* Usamos tu color clarito */
    letter-spacing: 8px;
    /* Separamos las letras para darle toque premium */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 1.5s ease-out forwards;
    /* Animación de entrada */
}

/* Botón estilo Streetwear Premium */
.btn-custom {
    background-color: transparent;
    color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    padding: 12px 35px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 0.3s;
    /* El botón aparece un poquito después que el título */
    opacity: 0;
    /* Empieza invisible para la animación */
}

.btn-custom:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    transform: translateY(-5px);
    /* Efecto de flotar al pasar el ratón */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* --- ANIMACIONES --- */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}