#imagen1{
    float: right;
    width: 20%;
}

#p_texto1{
    text-align: center;
}

#Texto1{
    float: left;
    width: 80%;
}

#imagen2{
    float: left;
}

#separacion{

    padding: 100px;
}

#texto2{
    float: right;
}

#p_texto2{
    text-align: center;
}