body {
    font-family: Arial, Verdana, sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-variant: small-caps;/*versalitas*/
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic; /*cursiva*/
    font-variant: small-caps; /*versalitas*/
}
strong {
  font-weight: bold;
}
