* {
    box-sizing: border-box;

    margin: 10;
    padding: 0;
}

#cabecera {
    background-color: red;
    padding: 20px;

}


#lateral {
    float: right;    
    width: 30%;        
    background-color: gray;
    padding: 10px 0;  
}

#lateral ul {
    margin-left: 40px; 
 
}


#central {
    margin-right: 32%; 
}




#pie {
    clear: both;        /* Obliga al pie a bajar debajo de los elementos flotantes */
    background-color: green;
    text-align: center; 
    padding: 5px;
    margin-top: 20px;   
}